
ExampleApp/bin/Debug/ExampleApp.exe
ExampleApp/bin/Debug/ExampleApp.exe.config
ExampleApp/bin/Debug/ExampleApp.pdb
ExampleApp/bin/Debug/SelfUpdatingFormulas.dll
ExampleApp/bin/Debug/SelfUpdatingFormulas.pdb
ExampleApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ExampleApp/obj/Debug/App.g.cs
ExampleApp/obj/Debug/App.g.i.cs
ExampleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ExampleApp/obj/Debug/ExampleApp.csproj.CopyComplete
ExampleApp/obj/Debug/ExampleApp.csproj.CoreCompileInputs.cache
ExampleApp/obj/Debug/ExampleApp.csproj.FileListAbsolute.txt
ExampleApp/obj/Debug/ExampleApp.csproj.GenerateResource.cache
ExampleApp/obj/Debug/ExampleApp.csprojAssemblyReference.cache
ExampleApp/obj/Debug/ExampleApp.exe
ExampleApp/obj/Debug/ExampleApp.g.resources
ExampleApp/obj/Debug/ExampleApp.pdb
ExampleApp/obj/Debug/ExampleApp.Properties.Resources.resources
ExampleApp/obj/Debug/ExampleApp_MarkupCompile.cache
ExampleApp/obj/Debug/ExampleApp_MarkupCompile.i.cache
ExampleApp/obj/Debug/ExampleApp_MarkupCompile.i.lref
ExampleApp/obj/Debug/ExampleApp_MarkupCompile.lref
ExampleApp/obj/Debug/GeneratedInternalTypeHelper.g.cs
ExampleApp/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
ExampleApp/obj/Debug/MainWindow.baml
ExampleApp/obj/Debug/MainWindow.g.cs
ExampleApp/obj/Debug/MainWindow.g.i.cs
ExampleApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
packages/NUnit.3.13.2/.signature.p7s
packages/NUnit.3.13.2/build/NUnit.props
packages/NUnit.3.13.2/CHANGES.md
packages/NUnit.3.13.2/icon.png
packages/NUnit.3.13.2/lib/net35/nunit.framework.dll
packages/NUnit.3.13.2/lib/net35/nunit.framework.xml
packages/NUnit.3.13.2/lib/net40/nunit.framework.dll
packages/NUnit.3.13.2/lib/net40/nunit.framework.xml
packages/NUnit.3.13.2/lib/net45/nunit.framework.dll
packages/NUnit.3.13.2/lib/net45/nunit.framework.xml
packages/NUnit.3.13.2/lib/netstandard2.0/nunit.framework.dll
packages/NUnit.3.13.2/lib/netstandard2.0/nunit.framework.xml
packages/NUnit.3.13.2/LICENSE.txt
packages/NUnit.3.13.2/NOTICES.txt
packages/NUnit.3.13.2/NUnit.3.13.2.nupkg
SelfUpdatingFormulas.Test/bin/Debug/nunit.framework.dll
SelfUpdatingFormulas.Test/bin/Debug/nunit.framework.xml
SelfUpdatingFormulas.Test/bin/Debug/SelfUpdatingFormulas.dll
SelfUpdatingFormulas.Test/bin/Debug/SelfUpdatingFormulas.pdb
SelfUpdatingFormulas.Test/bin/Debug/SelfUpdatingFormulas.Test.dll
SelfUpdatingFormulas.Test/bin/Debug/SelfUpdatingFormulas.Test.pdb
SelfUpdatingFormulas.Test/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SelfUpdatingFormulas.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SelfUpdatingFormulas.Test/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
SelfUpdatingFormulas.Test/obj/Debug/netstandard2.0/SelfUpdatingFormulas.Test.AssemblyInfo.cs
SelfUpdatingFormulas.Test/obj/Debug/netstandard2.0/SelfUpdatingFormulas.Test.AssemblyInfoInputs.cache
SelfUpdatingFormulas.Test/obj/Debug/netstandard2.0/SelfUpdatingFormulas.Test.csprojAssemblyReference.cache
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.csproj.CopyComplete
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.csproj.CoreCompileInputs.cache
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.csproj.FileListAbsolute.txt
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.csprojAssemblyReference.cache
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.dll
SelfUpdatingFormulas.Test/obj/Debug/SelfUpdatingFormulas.Test.pdb
SelfUpdatingFormulas/bin/Debug/net480/SelfUpdatingFormulas.dll
SelfUpdatingFormulas/bin/Debug/net480/SelfUpdatingFormulas.pdb
SelfUpdatingFormulas/bin/Debug/netstandard2.0/SelfUpdatingFormulas.deps.json
SelfUpdatingFormulas/bin/Debug/netstandard2.0/SelfUpdatingFormulas.dll
SelfUpdatingFormulas/bin/Debug/netstandard2.0/SelfUpdatingFormulas.pdb
SelfUpdatingFormulas/obj/Debug/net470/SelfUpdatingFormulas.assets.cache
SelfUpdatingFormulas/obj/Debug/net480/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.AssemblyInfo.cs
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.AssemblyInfoInputs.cache
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.assets.cache
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.csproj.CoreCompileInputs.cache
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.csproj.FileListAbsolute.txt
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.csprojAssemblyReference.cache
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.dll
SelfUpdatingFormulas/obj/Debug/net480/SelfUpdatingFormulas.pdb
SelfUpdatingFormulas/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.AssemblyInfo.cs
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.AssemblyInfoInputs.cache
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.assets.cache
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.csproj.CoreCompileInputs.cache
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.csproj.FileListAbsolute.txt
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.csprojAssemblyReference.cache
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.dll
SelfUpdatingFormulas/obj/Debug/netstandard2.0/SelfUpdatingFormulas.pdb
SelfUpdatingFormulas/obj/project.assets.json
SelfUpdatingFormulas/obj/project.nuget.cache
SelfUpdatingFormulas/obj/SelfUpdatingFormulas.csproj.nuget.dgspec.json
SelfUpdatingFormulas/obj/SelfUpdatingFormulas.csproj.nuget.g.props
SelfUpdatingFormulas/obj/SelfUpdatingFormulas.csproj.nuget.g.targets
SelfUpdatingFormulas.sln.DotSettings.user
.vs/SelfUpdatingFormulas/v16/.suo
/.vs
/packages
/ExampleApp/bin
/ExampleApp/obj
/SelfUpdatingFormulas/.vs
/SelfUpdatingFormulas/bin
/SelfUpdatingFormulas/obj
/SelfUpdatingFormulas.Test/bin
/SelfUpdatingFormulas.Test/obj
